{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<div class="container page-register">

    {{ form_start(registrationForm) }}
        <h2>Регистрация</h2>
        {{ form_row(registrationForm.email) }}
        <br>
        {{ form_row(registrationForm.plainPassword) }}
        <br>
        {{ form_row(registrationForm.agreeTerms) }}
        <br>
        <button class="btn">Зарегестрироваться</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
