{% extends 'base.html.twig' %}

{% block title %}Edit product{% endblock %}

{% block body %}
<div class="container page-edit">
        <h2>Edit product</h2>
        {{ form_start(EditProduct) }}
            {{ form_row(EditProduct.name) }}
            <br>
            {{ form_row(EditProduct.price) }}
            <br>
            {{ form_row(EditProduct.description) }}
            <br>
            {{ form_row(EditProduct.img) }}
            <br>
            <button class="btn btn-success"><i class="fas fa-edit"></i> Edit</button>
        {{ form_end(EditProduct) }}
        <br><br>
        {% if SuccessMsg != '' %}
            <div class="alert alert-success" role="alert">
                {{ SuccessMsg }}
            </div>
        {% endif %}
</div>
{% endblock %}
