{% extends 'base.html.twig' %}

{% block title %}Редактирование товара{% endblock %}

{% block body %}
<div class="container page-edit">
        <h2>Изменить продукт</h2>
        {{ form_start(EditProduct) }}
            {{ form_row(EditProduct.name) }}
            <br>
            {{ form_row(EditProduct.price) }}
            <br>
            {{ form_row(EditProduct.description) }}
            <br>
            {{ form_row(EditProduct.category) }}
            <br>
            {{ form_row(EditProduct.img) }}
            <br>
            <div class="save">
                <button class="btn"><i class="fas fa-edit"></i> Сохранить</button>
            </div>
        {{ form_end(EditProduct) }}
        <br><br>
        {% if SuccessMsg != '' %}
            <div class="alert alert-success" role="alert">
                {{ SuccessMsg }}
            </div>
        {% endif %}
</div>
{% endblock %}
