{% extends 'base.html.twig' %}

{% block title %}Добавление товара{% endblock %}

{% block body %}
<div class="container page-add">
    <h2>Добавить продукт</h2>
    <br>
    {{ form_start(AddProduct) }}
        {{ form_row(AddProduct.name) }}
        <br>
        {{ form_row(AddProduct.price) }}
        <br>
        {{ form_row(AddProduct.description) }}
        <br>
        {{ form_row(AddProduct.category) }}
        <br>
        {{ form_row(AddProduct.img) }}
        <br>
        <div class="save">
            <button class="btn"><i class="fas fa-plus"></i> Сохранить</button>
        </div>
    {{ form_end(AddProduct) }}
    <br><br>
    {% if SuccessMsg != '' %}
        <div class="alert alert-success" role="alert">
            {{ SuccessMsg }}
        </div>
    {% endif %}
    {% if ErrorMsg != '' %}
        <div class="alert alert-danger" role="alert">
            {{ ErrorMsg }}
        </div>
    {% endif %}
</div>
{% endblock %}
