{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }} {% endblock %}

{% block body %}
<div class="container product">
    {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
    {% endif %}
    <h1>Product</h1>
    <div class="card">
        <img src="{{ asset('images/' ~ product.img) }}" class="card-img-top" alt=".">
        <h5 class="card-title">Name: {{ product.name }}</h5>
        <br>
        <p class="card-text"> Description: {{ product.description }}</p>
        <br>
        <div class="badge badge-primary">Price: {{ product.price }} $</div>
    </div>
</div>
{% endblock %}
