{% extends 'base.html.twig' %}

{% block title %}Товар {{ product.name }} {% endblock %}

{% block body %}
<div class="container product">
    <h1>Товар</h1>
    <div class="card">
        <img src="{{ asset('images/' ~ product.img) }}" class="card-img-top scale" alt=".">
        <h5 class="card-title pl-3 font-weight-bold">{{ product.name }}</h5>
        <p class="card-text pl-3">
            {% set charachters = product.description|split('.') %}
            {% for character in charachters %}
        <table class="table table-active table-bordered table-hover">
            <tr>
                <td>{{ character }}</td>
            </tr>
        </table>
            {% endfor %}
        </p>
        <br>
        <div class="d-inline-block float-left pl-3 pb-3 font-weight-bold price">Цена: {{ product.price }} $</div>
        {% if is_granted('ROLE_ADMIN') %}
            <br>
            <div class="row mx-auto">
                <div class="button-wrapper mb-2">
                    <a href="{{ path('product_edit', { value: product.name}) }}" class="mr-3">
                        <button class="btn scale"><i class="fas fa-edit"></i></button>
                    </a>
                </div>
                <div class="button-wrapper">
                    <a href="{{ path('product_delete', { value: product.name}) }}">
                        <button class="btn scale"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </div>
            </div>
            <br>
        {% else %}
            <div class="d-inline-block float-left pl-3 pb-3 font-weight-bold price">
                <a href="{{ path('add_to_cart', { value: product.id}) }}">
                    <button class="btn scale" aria-label="To cart"><i class="fas fa-cart-arrow-down"></i></button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
