<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="Author: Nicolai Grubleac,
         Diplome work 'Security web aplication on Symfony,
         the best online shop.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Продукты{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)-->
                 <link rel="stylesheet" href="/build/app.css"> <!-- !!-->
        {% endblock %}
        {% block head_css %}
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> <!-- !!-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock %}
        {% block head_js %}
            <link rel="preconnect" href="https://kit.fontawesome.com/b04be8420b.js">
            <script src="https://kit.fontawesome.com/b04be8420b.js" crossorigin="anonymous" defer></script>
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous" defer></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
        {% endblock %}
    </head>
    <body>
        <div class="content">
            <nav class="navbar sticky-top navbar-expand-lg">
                <a class="navbar-brand" href="{{ path('list') }}"><img src="{{ asset('images/logo.jp2') }}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('list') }}">Главная <span class="sr-only">(current)</span></a>
                        </li>
                        {% if not is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('cart') }}">Корзина</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('purchases') }}">Заказы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('categories') }}">Категории товаров</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('users') }}">Список пользователей</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if app.user %}
                                Вы вошли в систему как <b>{{ app.user.username }}</b>, <a href="{{ path('app_logout') }}" class="alert-link nav-link d-inline-block">Выйти</a>
                            {% else %}
                                <a class="nav-link d-inline-block" href="{{ path('app_register') }}">Зарегестрироваться</a>
                                <b>/</b>
                                <a class="nav-link d-inline-block" href="{{ path('app_login') }}">Войти</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>

            <br>

            {% set route = app.request.attributes.get('_route') %}
            {% if route == 'list' %}
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item item1 active">
                            <img loading="lazy" class="d-block w-100" src="{{ asset('images/carousel/banner-fold.jp2') }}" alt=".">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Galaxy Fold</h5>
                                <p>Инновационный смартфон с гнущимся экраном.</p>
                            </div>
                        </div>
                        <div class="carousel-item item2">
                            <img loading="lazy" class="d-block w-100" src="{{ asset('images/carousel/moto-banner.jp2') }}" alt=".">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Motorola Razr</h5>
                                <p>Возвращение к класике.</p>
                            </div>
                        </div>
                        <div class="carousel-item item3">
                            <img loading="lazy" class="d-block w-100" src="{{ asset('images/carousel/xr-banner.jp2') }}" alt=".">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Iphone XR</h5>
                                <p>Смартфон с головокружительным качеством видеосьёмки.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>



        <footer class="page-footer font-small blue pt-4">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="column-footer footer-logo col-md-4 mt-md-0 mt-3">
                        <img src="{{ asset('images/logo.jp2') }}" alt="">
                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="column-footer col-md-4 mb-md-0 mb-3">

                        <p>
                            <i class="fas fa-address-book"></i>
                            Orange Moldova SA, str. <br>
                            Alba Iulia 75, MD-2071, <br>
                            Chişinău, Moldova
                        </p>
                    </div>

                    <div class="column-footer col-md-4 mb-md-0 mb-3">
                        <p>
                            <span>
                                <i class="fas fa-phone-alt"></i>  +373 79 12 56 13<br>
                                <i class="fas fa-fax"></i> +373 79 12 56 000
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">
                © 2020 Grubleac Nicolae
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script>-->
        {% endblock %}
    </body>
</html>
